@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/fonts/PinyonScript.ttf');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

*{
  @import url("https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer base {
  @font-face {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/PinyonScript.ttf) format('ttf');
  } 

  html {
    @apply scroll-smooth;
    font-family: "Poppins", sans-serif;
  }

  h1 {
    font-family: 'Pinyon-Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/PinyonScript.ttf) format('woff2');
  }

  .pinyon-script-regular {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/PinyonScript.ttf) format('ttf');
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fefae0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.focus\:ring-cyan-300:focus {
  --tw-ring-opacity: 0 !important;
}

a 
{
  @apply hover:text-blue-600 text-white
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@media (max-width: 768px) { 


[data-testid="flowbite-navbar-toggle"], [data-testid="flowbite-navbar-toggle"]:hover , [data-testid="flowbite-navbar-toggle"]:focus{
  z-index: 1;
  background-color: transparent !important;
  box-shadow:unset !important;
}

[data-testid="flowbite-navbar-toggle"] svg {
  color: #fff;
}


[data-testid="flowbite-navbar-collapse"] {
  z-index: 2;
  background-color: white;
  margin-top: 20px;
}

[data-testid="flowbite-navbar-collapse"] ul {
  color: #000;
  background-color: #fff;
  margin:0;
 }

[data-testid="flowbite-navbar-collapse"] a {
 color: #000;
 background-color: #fff;
}

}

.header-bg{
 @apply bg-blue-600
}

.z-1 {
  z-index: 1;
}

.rotatediv {
  --tw-rotate: -20deg
}


.leaflet-control {
  display : none;
}

